.detail-header{ display: flex; justify-content: space-between; min-width: 300px; }
.detail-header .detail-operation .ant-btn{ padding: 0 5px; }
.detail-header .detail-title{ line-height: 32px; font-weight: bold; font-size: 16px; }
